<?xml version="1.0"?>
<robot name="auv" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- HYDRODYNAMICS PLUGIN -->
  <xacro:macro name="thruster_plugin_macro" params="">
    <gazebo>
      <plugin filename="gz-sim-thruster-system" name="gz::sim::systems::Thruster">
        <namespace>rexros</namespace>
        <joint_name>${joint}</joint_name>
        <fluid_density>1000.0</fluid_density>
        <thrust_coefficient>0.00031</thrust_coefficient>
        <velocity_control>true</velocity_control>
        <use_angvel_cmd>false</use_angvel_cmd>
      </plugin>
    </gazebo>
  </xacro:macro>
  <xacro:thruster_plugin_macro joint="thruster1_joint"/>
  <xacro:thruster_plugin_macro joint="thruster2_joint"/>
  <xacro:thruster_plugin_macro joint="thruster3_joint"/>
  <xacro:thruster_plugin_macro joint="thruster4_joint"/>
  <xacro:thruster_plugin_macro joint="thruster5_joint"/>
  <xacro:thruster_plugin_macro joint="thruster6_joint"/>
  <xacro:thruster_plugin_macro joint="thruster7_joint"/>
  <xacro:thruster_plugin_macro joint="thruster8_joint"/>


  <gazebo>
    <plugin
      filename="gz-sim-hydrodynamics-system"
      name="gz::sim::systems::Hydrodynamics">

      <!-- adding for ocean current force application -->
      <!-- <namespace>rexrov</namespace> -->

      <disable_coriolis>false</disable_coriolis>
      <disable_added_mass>false</disable_added_mass>

      <water_density>1028</water_density>

      <!-- till here -->
      <link_name>base_link</link_name>
      <!-- Added mass -->
      <!-- Using values of LRAUV -->
      <xDotU>-4.876161</xDotU>
      <yDotV>-126.324739</yDotV>
      <zDotW>-126.324739</zDotW>
      <kDotP>0</kDotP>
      <mDotQ>-33.46</mDotQ>
      <nDotR>-33.46</nDotR>
      <!-- <xDotU>779.79</xDotU>
      <yDotV>1222</yDotV>
      <zDotW>3659.9</zDotW>
      <kDotP>534.9</kDotP>
      <mDotQ>842.69</mDotQ>
      <nDotR>224.32</nDotR> -->

      <!-- Linear Drag Coefficients -->
      <xU>-74.82</xU>
      <yV>-69.48</yV>
      <zW>-728.4</zW>
      <kP>-268.8</kP>
      <mQ>-309.77</mQ>
      <nR>-105</nR>

      <!-- Quadratic Drag Coefficients -->
      <xUabsU>-748.22</xUabsU>
      <yVabsV>-992.53</yVabsV>
      <zWabsW>-1821.01</zWabsW>
      <kPabsP>-672</kPabsP>
      <mQabsQ>-774.44</mQabsQ>
      <nRabsR>-523.27</nRabsR>
    </plugin>
    <plugin
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu">
    </plugin>

    <plugin
      filename="gz-sim-magnetometer-system"
      name="gz::sim::systems::Magnetometer">
    </plugin>

    <plugin
      filename="gz-sim-odometry-publisher-system"
      name="gz::sim::systems::OdometryPublisher">
      <odom_frame>map</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <dimensions>3</dimensions>
      <odom_publish_frequency>100</odom_publish_frequency>
    </plugin>

    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
    </plugin>

    <plugin
      filename="DVLBridge"
      name="dave_ros_gz_plugins::DVLBridge">
      <topic>/model/rexrov/dvl/velocity</topic>
    </plugin>
  </gazebo>


    <!-- Sea Pressure Sensor Plugin -->
    <!-- <plugin
      filename="sea_pressure_sensor"
      name="dave_gz_sensor_plugins::SubseaPressureSensorPlugin">
      <namespace>rexrov</namespace>
      <topic>sea_pressure</topic>
      <update_rate>10</update_rate>
      <noise_sigma>3.0</noise_sigma>
      <estimate_depth_on>true</estimate_depth_on>
      <standard_pressure>101.325</standard_pressure>
      <kPa_per_meter>9.80638</kPa_per_meter>
    </plugin> -->


</robot>