<?xml version="1.0" ?>
<robot name="auv" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="camera_link">
    <sensor type="camera" name="underwater_camera">
      <update_rate>10</update_rate>
      <camera>
        <horizontal_fov>1.05</horizontal_fov>
        <image>
          <width>1920</width>
          <height>1080</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      <plugin name="dave_gz_sensor_plugins::UnderwaterCamera" filename="UnderwaterCamera">
        <attenuationR>0.8</attenuationR>
        <attenuationG>0.5</attenuationG>
        <attenuationB>0.2</attenuationB>
        <backgroundR>85</backgroundR>
        <backgroundG>107</backgroundG>
        <backgroundB>47</backgroundB>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>50.0</update_rate>
      <topic>/model/rexrov/imu</topic>
    </sensor>
    <plugin
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu">
    </plugin>
  </gazebo>

  <gazebo reference="magnetometer_link">
    <sensor name="magnetometer_sensor" type="magnetometer">
      <always_on>true</always_on>
      <update_rate>50.0</update_rate>
      <topic>/model/rexrov/magnetometer</topic>
      <magnetometer>
        <x>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>1.0</stddev>
          </noise>
        </x>
        <y>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>1.0</stddev>
          </noise>
        </y>
        <z>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>1.4</stddev>
          </noise>
        </z>
      </magnetometer>
    </sensor>
    <plugin
      filename="gz-sim-magnetometer-system"
      name="gz::sim::systems::Magnetometer">
    </plugin>
  </gazebo>

    <!-- <plugin
      filename="sea_pressure_sensor"
      name="dave_gz_sensor_plugins::SubseaPressureSensorPlugin">
      <namespace>rexrov</namespace>
      <topic>sea_pressure</topic>
      <update_rate>10</update_rate>
      <noise_sigma>3.0</noise_sigma>
      <estimate_depth_on>true</estimate_depth_on>
      <standard_pressure>101.325</standard_pressure>
      <kPa_per_meter>9.80638</kPa_per_meter>
    </plugin> -->


<!-- dvl -->
<!-- <sensor
  name="nortek_dvl500_300" type="custom"
  gz:type="dvl">
  <pose>0 0 0 0 0 0</pose>
  <always_on>1</always_on>
  <update_rate>8</update_rate>
  <topic>/model/rexrov/dvl/velocity</topic>
  <gz:dvl>
    <type>phased_array</type>
    <arrangement degrees="true">
      <beam id="1">
        <aperture>3</aperture>
        <rotation>-135</rotation>
        <tilt>25</tilt>
      </beam>
      <beam>
        <aperture>3</aperture>
        <rotation>135</rotation>
        <tilt>25</tilt>
      </beam>
      <beam>
        <aperture>3</aperture>
        <rotation>45</rotation>
        <tilt>25</tilt>
      </beam>
      <beam>
        <aperture>3</aperture>
        <rotation>-45</rotation>
        <tilt>25</tilt>
      </beam>
    </arrangement>
    <tracking>
      <water_mass_mode>
        <when>best</when>
        <water_velocity>
          <x>0.</x>
          <y>0.</y>
          <z>0.</z>
        </water_velocity>
        <boundaries>
          <near>10.</near>
          <far>100.</far>
        </boundaries>
        <bins>10</bins>
        <noise type="gaussian">
          <stddev>0.015</stddev>
        </noise>
        <visualize>true</visualize>
      </water_mass_mode>
      <bottom_mode>
        <when>best</when>
        <noise type="gaussian">
          <stddev>0.005</stddev>
        </noise>
        <visualize>true</visualize>
      </bottom_mode>
    </tracking>
    <maximum_range>200.</maximum_range>
    <minimum_range>0.3</minimum_range>
    <reference_frame>0 0 0 3.14 0 -1.57</reference_frame>
  </gz:dvl>
</sensor> -->
</robot>